<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
      <p>{{ message }}</p>
    </header>
    <section id="user-goal">
      <h2>My Course Goal</h2>
      <!-- <p v-html="outputGoal()"></p> -->
      <!-- <p>{{ messageA }}</p> -->
      <!-- <p>{{ 1 + 1 }}</p> -->
      <p>{{ outputGoal() }}</p>
      <p> Voir plus <a v-bind:href="vueLink">sur Vue</a>.</p>
    </section>
  </body>
</html>
