<template>
    <section>
        <form @submit.prevent="submiteData">
        <input type="text" placeholder="Nom" v-model="enteredName"/>
        <input type="number" placeholder="age" v-model="enteredAge"/>
        <button>Set User Data</button>
        </form>
    </section>
</template>

<script>
export default {
    emits: ['set-data'],
    data() {
        return{
            enteredName: '',
            enteredAge:'',
        };
    },
    methods: {
        submitData(){
            this.$emit('set-data', this.enteredName, this.enteredAge)
        }
    }
};
</script>
