<template>
<section>
    <h2>My Friends</h2>
    <ul>
        <li></li>
    </ul>
</section>
</template>

<script>

export default {
    data(){
        return {
            friend: [
                {
                    id:'manuel',
                    name: 'manuel Lorenz',
                    phone:'3630 3630',
                    email:'test@gmail.com',
                },
                {
                    id:'dede',
                    name: 'dede dede',
                    phone:'5553 5550',
                    email:'dede@gmail.com',
                },
            ]
        };
    },
}
</script>